Error handling does not align with RFC 7807

The error handling strategy detailed in the OMSA spec, including the error schema itself, does not align with RFC 7807 and may be confusing for clients expecting traditional problem objects, e.g. Spring's included `ProblemDetail`.

Specific parts where OMSA diverges from RFC 7807:

- An `errorResponse` returns an array of errors instead of an error object
- The `errorResponse` schema only returns `application/json` instead of the expected `application/problem+json`
- The `error` schema includes a field `errorcode` of the type `tinyInt` (0-10). This seems like an error code mainly relevant for legacy systems, which are not the target for OMSA. We should rely on the actual HTTP status code as per RFC 7807. If it should be kept as a representation of the status code or a global errorcode mapping, it should at least not be `tinyInt`
- The `error` schema defines `type` as `tinyString`, which is never enough for an actual RFC 7807 type URI. This should be `string` instead, with an optional max. However, without knowing the URI schemes chosen by the implementors, a max should possibly not be enforced.
- `additionalProperties` could be marked as `true`, so that implementors may choose to add additional fields or create complementary problem classes. In our case, we could e.g. add a `validation-errors` field in case we detect multiple validation issues at once. This could allow the logic represented by the initial `errors` array without breaking with RFC 7807.


The `error` scheme would become:
```yaml
components:
  schemas:
    error:
      type: object
      description: >-
        A Problem Details object based on RFC 7807.
      additionalProperties: true
      properties:
        type:
          type: string
          format: uri
          description: >-
            A URI reference that identifies the problem type. 
            When this member is not present, its value is assumed to be "about:blank".
          example: "https://example.b5/probs/out-of-stock"
        title:
          $ref: '#/components/schemas/shortString'
          description: >-
            A short, human-readable summary of the problem type.
            It SHOULD NOT change from occurrence to occurrence of the problem.
        status:
          $ref: '#/components/schemas/normalInt'
          description: >-
            The HTTP status code ([RFC7231], Section 6) generated by the origin
            server for this occurrence of the problem.
        detail:
          $ref: '#/components/schemas/longString'
          description: >-
            A human-readable explanation specific to this occurrence of the problem.
        instance:
          $ref: '#/components/schemas/url'
          description: >-
            A URI reference that identifies the specific occurrence of the problem.
```

This seems reasonable. The response should also be updated to contain the content type `application/problem+json` as per the RFC.

Could we also include a pre-defined ValidationError which would include the list of errors to be used where multiple errors could occur?

We used the Error object previously in the TOMP v1.x as well, but there was a urgent request to deliver a list of errors. When validating e.g. a POST /processes/purchase-offers/execution, and multiple required fields are left out, you should be able to report multiple errors (Joachims remark makes sense, we tried to do this in TOMP v1.x).

The additionalProperties construct will lead to untyped hashmaps in a lot of generators. The TOMP-API prefers to add this:
    customFields:
            $ref: '#/components/schemas/customProperties'
It is used in OMSA as well.

The rest: how more compliant with the RFC, the better.